#choose {
  padding: 145px 0;

  .content {
    position: relative;
  }

  p {
    max-width: 630px;
  }
}

@media (max-width: 1024px) {
  #choose {
    p {
      max-width: 55%;
    }
  }
}

@media (max-width: 768px) {
  #choose {
    p {
      max-width: unset;
    }
  }
}

@media (max-width: 425px) {
  #choose {
    padding: 70px 0;
  }
}
