footer {
  @include background-image(
    "../../dist/images/footer-bg.jpg",
    $position: center,
    $cover: true
  );

  padding: 60px 0;

  .wrapper {
    align-items: flex-start;
  }
}

.info {
  max-width: 340px;
  font-size: 13px;
  color: #f7f7f7;
  line-height: 21px;
}

.footer-column {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 15px;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-weight: 500;
    color: #f7f7f7;
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
  }

  li {
    margin-bottom: 10px;

    a {
      color: #f7f7f7;
      font-size: 13px;
    }
  }

  .phone-number {
    color: #ffffff;
  }
}

.footer-column:not(:first-child) {
  margin-left: 100px;
}

.politics {
  margin-top: 85px;
  color: #febd79;
}

@media (max-width: 1024px) {
  
  #footer {
    .wrapper {
      flex-wrap: wrap;
    }  
  }

  .footer-column:not(:first-child) {
    margin-left: 0;
  }
}

@media (max-width: 768px) {

  #footer {
    .wrapper {
      align-items: center;
      justify-content: space-around;
      width: 100%;
      text-align: center;
    }

    .footer-column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .footer-column:nth-child(1) {
      width: 100%;
      margin-bottom: 50px;
    }

    .footer-column:nth-child(2) .footer-column:nth-child(3) {
      width: 45%;
    }

    .footer-column:nth-child(4) {
      width: 100%;
    }

    .politics {
      margin-top: 20px;
    }

    .callback {
      margin-top: 30px;
    }
  }
}
