header {
  padding: 15px;

  .logo {
    padding-right: 25px;
    &-text {
      color: #aaaaaa;
      width: 40%;

      span {
        display: block;
      }
    }
  }
  
  // Границы между элементами
  .logo-text,
  .callback {
    padding-left: 25px;
    border-left: 1px solid #e1e1e1;
  }

  .callback {
    border-right: 1px solid #e1e1e1;
    padding-right: 25px;
  }
}

.callback {
  display: flex;
  align-items: center;
}

.phone {
  &-block {
    margin-left: 16px;

    a {
      display: block;
    }
  }

  &-number {
    color: #000000;

    font-family: "21cent";
    font-size: 21px;

    text-decoration: none;
  }

  &-call {
    color: #dbb36b;
    margin-top: 4px;
    font-size: 13px;
  }
}
