#icons {
  padding: 155px;
}

.i-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.i {
  &-card {
    height: 400px;
    width: 23%;
    margin-bottom: 40px;
    text-align: center;

    .separator {
      width: 25%;
      margin: 15px 0 5px 0;
    }

    &:hover {
      box-shadow: 2px 13px 35px 0px rgba(0, 0, 0, 0.13);
    }

    &:hover .i-image-wrapper {
      border: none;
    }

    &-title {
      font-weight: 600;
      text-decoration: none;
    }
  }

  &-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 310px;
    border: 1px solid #d3d3d3;
  }
}
