nav {
  background-color: #543001;
}
.navbar {
  display: flex;
  justify-content: space-between;

  list-style: none;
}

.nav {
  &-item {
    margin: 15px 0;
  }

  &-item:not(:last-child)::after {
    content: "\002B";
    color: #ffffff;
    margin-left: 20px;
    font-size: 10px;
  }

  &-link {
    color: #ffffff;

    text-decoration: none;
    transition: all 0.3ы;

    &:hover {
      color: $primary-button-color;
    }
  }
}
