nav {
  background-color: #543001;
  font-family: "FuturaPT-Light";
}
.navbar {
  display: flex;
  justify-content: space-between;

  list-style: none;
}

.nav {
  &-item {
    margin: 15px 0;
    font-size: 18px;
  }

  &-item:not(:last-child)::after {
    content: "\002B";
    color: #ffffff;
    margin-left: 20px;
    font-size: 10px;
  }

  &-link {
    color: #ffffff;

    text-decoration: none;
    transition: all 0.3s;

    &:hover {
      color: $primary-button-color;
    }
  }
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #543001;
  left: -9px;
  list-style: none;
  padding: 0 10px;

  .nav-item::after {
    content: "";
    margin: 0px;
  }
}

.dropdown-selector {
  position: relative;
}

.dropdown-selector:hover .dropdown {
  display: block;
}

@media (max-width: 1024px) {
  .nav {
    &-item {
      font-size: 13px;
    }
  }
}

@media (max-width: 768px) {
  nav {
    display: none;
  }
}
