#questions {
  padding: 70px 0;

  form {
    min-width: 620px;
    padding: 44px 30px;

    .input {
      width: 265px;
    }
  }

  .description {
    color: #000000;
  }

  a {
    text-decoration: none;
    color: #febd79;
  }

  p {
    margin-top: 50px;
  }

  .form-move {
    bottom: -75px;
  }

  .button-wrapper {
    margin-top: 30px;
  }
}

@media (max-width: 1024px) {
  #questions {
    .wrapper {
      text-align: center;
      flex-direction: column;
    }
  }
}

@media (max-width: 425px) {
  #questions {
    form {
      min-width: 0;
    }
  }
}
