#top {
  @include background-image(
    "../../dist/images/top-section-bg.jpg",
    $position: center,
    $cover: true
  );
  padding: 60px 0;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title,
  .subtitle {
    color: $main-white;
    font-family: $primary-font;
  }
  .title {
    font-size: 60px;

    text-transform: uppercase;

    span {
      color: #febd79;
    }
  }

  .subtitle {
    font-size: 24px;
    font-weight: 500;
    line-height: 35px;
  }

  .separator {
    margin: 30px 0;
  }

  .description {
    display: block;
    color: $main-white;

    margin-bottom: 70px;

    font-weight: 300;
    line-height: 25px;
  }
  .icon-image {
    box-shadow: 0 0 35px 0 #000000;
  }
}

@media (max-width: 1024px) {
  #top {
    .title {
      font-size: 45px;
    }
    .icon-image {
      width: 40%;
    }
  }
}

@media (max-width: 768px) {
  #top {
    .icon-image {
      width: 30%;
    }
  }
}

@media (max-width: 425px) {
  #top {
    .icon-image {
      display: none;
    }
  }
}
