#workshop {
  @include background-image(
    "../../dist/images/workshop-bg-second.jpg",
    $position: center,
    $cover: true
  );

  padding: 120px 0;

  p {
    max-width: 710px;
  }
}

@media (max-width: 1024px) {
  #workshop {
    p {
      max-width: 90%;
    }
  }
}

@media (max-width: 768px) {
  #workshop {
    p {
      max-width: 100%;
    }
  }
}
