#worth {
    @include background-image(
        "../../dist/images/worth-bg.jpg",
        $position: right,
        $cover: false
      );

      margin-top: 120px;
      padding-bottom: 15px;


    .background {
        bottom: 45px;
    }
}