.button {
  position: relative;

  background: transparent;
  border: none;
  outline: none;
  padding: 15px 20px;
  min-width: 220px;

  text-transform: uppercase;
  font-family: "Izhitsa";
  font-size: 14px;

  transition: all 0.3s;

  &:hover {
    background: $primary-button-hover;
  }
}

.button {
  &-primary {
    background: $primary-button-color;

    &::after {
      content: "";
      position: absolute;
      top: 35%;
      left: -6px;
      transform: rotate(45deg);
      border: 7px solid;
      border-color: #fff;
    }

    &::before {
      content: "";
      position: absolute;
      top: 35%;
      right: -6px;
      transform: rotate(45deg);
      border: 7px solid;
      border-color: #fff;
    }
  }
  
  &-secondary {
    border: 1px solid $primary-button-color;
  }
}
