.button {
  position: relative;

  background: transparent;
  border: none;
  outline: none;
  padding: 15px 20px;
  min-width: 200px;

  text-transform: uppercase;
  font-family: "Izhitsa";
  font-size: 14px;

  cursor: pointer;

  &:hover {
    background: $primary-button-hover;
  }
}

.button-wrapper { 
  display: inline-flex;
  align-items: center;
  position: relative;
  width: auto;

  .left,
  .right {
    z-index: 1;
    position: absolute;
    pointer-events: none;
  }

  .left {
    left: -7px;
  }

  .right {
    right: -7px;
  }
}

.button {
  &-primary {
    background: $primary-button-color;
  }
  
  &-secondary {
    border: 1px solid $primary-button-color;
  }

  &-gradient {
    background: linear-gradient(0deg, #d7af69 0%, #efcc8d 100%);
  }
}
