.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #ffffff;
  padding: 30px 50px;
  min-width: 400px;

  text-align: center;
  box-shadow: 15px 15px 0 0 #f5e8dc, 2px 13px 35px 0px rgba(0, 0, 0, 0.096);

  .separator {
    margin: 5px 0 25px 0;
  }

  span {
    color: #888888;
    margin-top: 10px;
    max-width: 180px;
    font-size: 11px;
  }
}

.form-title {
  text-transform: uppercase;
  font-family: $primary-font;
  font-size: 18px;
  max-width: 230px;
}

.form-move {
  position: absolute;
  right: 0;
  bottom: -105px;
}

.inputs {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
