.swiper-container {
  width: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  opacity: 0.35;
  transition: all 0.3s;
}

.swiper-button-prev,
.swiper-button-next {
  width: 52px;
  height: 52px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-button-prev {
  left: 23%;
  background-image: url("../../dist/images/arrow-left.png");
}

.swiper-button-next {
  right: 23%;
  background-image: url("../../dist/images/arrow-right.png");
}

.swiper-button-prev-2 {
  left: 16%;
}

.swiper-button-next-2 {
  right: 16%;
}

.active {
  opacity: 1;
}

@media (max-width: 1440px) {
  .swiper-button-prev-1 {
    left: 21%;
  }

  .swiper-button-next-1 {
    right: 21%;
  }
  .swiper-button-prev-2 {
    left: 3%;
  }
  .swiper-button-next-2 {
    right: 3%;
  }
}

@media (max-width: 1280px) {
  .swiper-button-prev-1,
  .swiper-button-prev-2 {
    left: 2%;
  }

  .swiper-button-next-1,
  .swiper-button-next-2 {
    right: 2%;
  }
}
