*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 30px;
}

.container {
  width: 1140px;
  margin: auto;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-title {
  position: relative;
  font-family: $primary-font;
  margin-bottom: 80px;

  .foreground {
    font-size: 60px;
  }

  .background {
    position: absolute;
    bottom: -15px;
    left: -85px;
    font-size: 150px;
    color: #eeeeee;
    z-index: -1;
  }
}

.left-image {
 margin-right: 125px;
}
