*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 30px;
  line-height: 21px;
}

.container {
  width: 1140px;
  margin: auto;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  width: 100%;
}

.section-title {
  position: relative;
  font-family: $primary-font;
  margin-bottom: 80px;
  z-index: 0;

  .foreground {
    font-size: 60px;
    max-width: 800px;
  }

  .background {
    position: absolute;
    bottom: -15px;
    left: -95px;
    font-size: 150px;
    color: #eeeeee;
    z-index: -1;
    pointer-events: none;
  }
}

.section-form-title {
  .title {
    color: #000000;
    text-transform: uppercase;
    font-family: $primary-font;
    font-size: 50px;
  }

  .description {
    color: #febd79;
    font-family: $primary-font;
    font-size: 30px;
    margin-top: 10px;
  }

  span {
    margin-bottom: 50px;
  }
}

.left-image {
  margin-right: 125px;
}

.right-image {
  margin-left: 125px;
  position: absolute;
  right: 0;
}

@media (max-width: 1650px) {
  .section-title {
    .foreground {
      font-size: 55px;
    }

    .background {
      font-size: 120px;
      left: -65px;
    }
  }

  .left-image,
  .right-image {
    width: 40%;
  }
}

@media (max-width: 1366px) {
  .container {
    width: 90%;
    margin: auto;
  }

  .section-title {

    .background {
      font-size: 95px;
      left: -45px;
    }
  }
}

@media (max-width: 1280px) {
  .container {
    width: 90%;
    margin: auto;
  }

  .section-title {
    .foreground {
      font-size: 50px;
    }

    .background {
      left: -45px;
    }
  }
}

@media (max-width: 1024px) {
  .section-title {
    .foreground {
      font-size: 55px;
    }

    .background {
      font-size: 75px;
      left: -25px;
      bottom: 5px;
    }
  }
  .left-image {
    margin-right: 50px;
  }
}

@media (max-width: 768px) {
  .section-title {
    text-align: center;

    .foreground {
      font-size: 50px;
    }

    .background {
      display: none;
    }
  }

  .left-image,
  .right-image {
    display: none;
  }

  p {
    width: 100%;
  }
}
