@font-face {
  font-family: "Izhitsa";
  src: url("/dist/fonts/Izhitsa.ttf");
}

@font-face {
  font-family: "21Cent";
  src: url("/dist/fonts/21Cent.otf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  src: url("/dist/fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("/dist/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url("/dist/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  src: url("/dist/fonts/Montserrat-Bold.ttf");
}

body {
  font-family: "Montserrat";
}
