@font-face {
  font-family: 'Montserrat';
  src: url('../../dist/fonts/Montserrat-Light.woff2') format('woff2'),
      url('../../dist/fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../dist/fonts/Montserrat-Bold.woff2') format('woff2'),
      url('../../dist/fonts/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../dist/fonts/Montserrat-Light.woff2') format('woff2'),
      url('../../dist/fonts/Montserrat-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../dist/fonts/Montserrat-SemiBold.woff2') format('woff2'),
      url('../../dist/fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Izhitsa';
  src: url('../../dist/fonts/Izhitsa.woff2') format('woff2'),
      url('../../dist/fonts/Izhitsa.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '21 Cent';
  src: url('../../dist/fonts/21Cent.woff2') format('woff2'),
      url('../../dist/fonts/21Cent.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: "Montserrat";
}
